{% extends "base.html" %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
<form action="{{ url_for('submit_form') }}" method="post">
    <!--div class="mb-3"><label for="exampleFormControlInput1">Email address</label><input class="form-control" id="exampleFormControlInput1" type="email" placeholder="name@example.com"></div-->
    <!-- HERE ARE YOUR DATABASE SELECTION OPTIONS, THESE ARE SUPPLIED FROM APP.PY IN THE LIST CALLED SELECTOR_OPTIONS --->

    <div class="mb-3">
        <label for="exampleFormControlSelect1">Select your Database</label><select class="form-control" id="exampleFormControlSelect1", name='database_selection'>
          {% for value in selector_options %}
            <option>{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <!--
    <div class="mb-3">
        <label for="exampleFormControlSelect2">Example multiple select</label><select class="form-control" id="exampleFormControlSelect2" multiple="">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="mb-0"><label for="exampleFormControlTextarea1">Example textarea</label><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></div>-->
    <input type="submit" value="Submit">
</form>
</div>
{% endblock %}
